* {
    margin: 0;
    padding: 0;
}

@import url('fonts/Montserrat:wght@100;300;700&display=swap');

/*100 - thin, 300  - light, 700 - bold*/
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    //max-width: 1366px;
    margin: 0 auto;
}

.container {
    /*max-width: 1170px;*/
    display: flex;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding: 0 98px;
}

.header {
    background-color: #f0f0f0;
    height: 90px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;


}


.logo {
    width: 184px;
    margin-right: 359px;
}

.navbar {
    flex-grow: 1;
}

.navbar ul {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    align-self: flex-end;

}

.navbar li {
    display: block;
    list-style: none;
    margin-left: 5px;
    padding-bottom: 13px;
    padding-left: 5px;
    padding-right: 20px;

}

.navbar a {
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: #8c8c8c;
    text-align: center;
    margin: 0 5px;
    border-bottom: 3px solid transparent;
}

.navbar li:hover {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 11px;
    color: #212121;
    border-bottom: 3px solid #212121;
}

.banner {
    height: 709px;
    border-bottom: 1 px solid #e3e3ea;
}


.footer {
    background-color: #f7f7f7;
    height: 384px;
    padding-top: 120px;
}

.row-navbar-bottom {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start
}
